{% ckan_extends %}

{% block content_primary_nav %}
  {{ super() }}
  {{ h.build_nav_icon('validate_test_file.validate_test_file_view', _('Validate File'), icon='check-circle') }}
  {{ h.build_nav_icon('validate_admin.validation_jobs', _('Validation Jobs'), icon='tasks') }}
  {{ h.build_nav_icon('validate_configuration_admin.validation_configurations', _('Validation Configurations'), icon='cogs') }}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'validate/validate-css' %}
{% endblock %}
