{% extends "admin/validation_configuration_base.html" %}

{% block validation_configuration_content %}
  {% snippet 'admin/snippets/validation_configuration_form.html',
    form_action=h.url_for(
      'validate_configuration_admin.validation_configuration_edit',
      configuration_id=configuration.id
    ),
    form_data=form_data,
    configurations=configurations,
    selected_configuration_id=selected_configuration_id,
    submit_label=_('Save changes'),
    is_edit=true,
    configuration=configuration
  %}
{% endblock %}
