{# Mostrar badges solo a usuarios logueados y que sean sysadmin o admin #}
{% if (data.format and data.format|upper == 'CSV') and (h.check_access('sysadmin') or h.check_access('package_update', {'id': data['id']})) %}
  {% set status = h.get_resource_validation_state(data) %}
  {% if status == 'success' %}
    <span class="validate-badge validate-badge--valid">{{ _('Valid') }}</span>
  {% elif status == 'failure' %}
    <span class="validate-badge validate-badge--invalid">{{ _('Invalid') }}</span>
  {% elif status == 'error' %}
    <span class="validate-badge validate-badge--error">{{ _('Error') }}</span>
  {% elif status == 'pending' %}
    <span class="validate-badge validate-badge--pending">
      <i class="fa fa-spinner fa-spin"></i>
      {{ _('Pending') }}
    </span>
  {% else %}
    <span class="validate-badge validate-badge--pending">{{ _('Not validated') }}</span>
  {% endif %}
{% endif %}
