{% ckan_extends %}

{% block resource_actions_inner %}
  {{ super() }}
  {% if res.format and res.format|upper == 'CSV' %}
    {% if h.check_access('sysadmin') or h.check_access('package_update', {'id': pkg.id}) %}
      <li>
        <a href="{{ h.url_for('resource_validate.validate', package_id=pkg.name, resource_id=res.id) }}"
           class="btn btn-default">
          <i class="fa fa-check-circle"></i>
          {{ _('Validate') }}
          {% snippet 'validate/snippets/validation_badge.html', resource=res, package_id=pkg.id %}
        </a>
      </li>
    {% endif %}
  {% endif %}
{% endblock %}